
# Ignore node_modules directory for backend
node_modules



# Ignore build artifacts for backend
backend/build/
backend/dist/



# Ignore any environment-specific files for backend
backend/.env


# Ignore IDE-specific files for backend
backend/.vscode/
backend/.idea/

# Ignore any log files for frontend
frontend/*.log

# Ignore any log files for backend
backend/*.log

# local env files
.env*.local
.env

